/* general rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: inherit;
}

body a:hover {
  text-decoration: none;
  color: #ffff;
}

.container_main {
  float: left;
  width: calc(100% - 300px);
  height: calc(100vh - 90px);
  background: hsl(218.6, 25.9%, 10.6%);
  color: #6d6d6d;
  overflow: auto;
}

.wrapper {
  height: calc(100vh - 90px);
  width: 100%;
}
/* ends general rules */

/* sidebar header */
.wrapper .sidebar {
  width: 300px;
  background: black;
  height: 100%;
  padding: 30px;
  color: #6d6d6d;
}

.sidebar .logo {
  height: 85px;
}

.sidebar .logo img {
  width: 100%;
}

.menu_top .list-unstyled {
  padding: 10px 0;
}

.menu_top > ul > li {
  padding: 5px 0;
}

.menu_top > ul > li > a > img {
  height: 25px;
  margin: 0px 10px;
}

.sidebar .playlist {
  height: calc(100vh - 440px);
  overflow: hidden;
}

.playlist > ul {
  height: calc(100vh - 470px);
  overflow-y: auto;
}

.playlist ul > li {
  padding: 5px 0;
}

.playlist >a>i {
  width: 30px;
  margin-right: 10px;
  background-color: #b3b3b3;
  vertical-align: middle;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 5px;
}

.bottom_user .button_install {
  border-bottom: 1px solid #6d6d6d;
  padding: 10px 0;
}

.bottom_user .button_install > a > img {
  height: 25px;
}

.button_profile {
  padding: 10px 0;
}

.button_profile > a > img {
  height: 30px;
  background: gray;
  border-radius: 50%;
  width: 30px;
}
/* ends sidebar */

/* main content */
/* header transparent top */
.trasparent_top {
  height: 100px;
  background-color: #000000ab;
  position: fixed;
  top: 0;
  width: calc(100% - 300px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button_flex {
  padding: 12px 40px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  height: 50px;
  margin-right: 50px;
  transition: transform .1s;
}

.button_flex:hover {
  transform: scale(1.2);
}

.content {
  margin-top: 100px;
}
  /* ends header transparent top */
.menu .list-inline {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
}

/* content vinyl */
.content_vinyl {
  padding: 20px;
}

.container_album {
  display: flex;
  flex-wrap: wrap;
}

.container_album .vinyl {
  margin: 5px;
  width: 200px;
}

.container_album .vinyl .image_album img {
  width: 100%;
}

.container_album .vinyl a h5 {
  margin-top: 10px;
  font-weight: bold;
}

.container_album .vinyl a h5:hover {
  text-decoration: underline;
}

.image_album {
  position: relative;
}

.vinyl .image_album .layover_effect {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.4);
}

.vinyl .image_album .layover_effect i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #ffff;
  border-radius: 10px;
}

.vinyl .image_album:hover .layover_effect {
  display: block;
}

.layover_effect i.fa-play-circle {
  transition: transform 0.1s;
}

.layover_effect i.fa-play-circle:hover {
  font-size: 60px;
}
/* ends main content */

/* footer nav player */
/* footer general rules */
.nav_player {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #282828;
  color: #878787;
}

.block {
  width: calc(100% / 3);
  height: 100%;
}
/* ends footer general rules */

  /* left player footer  */
.left .actual_playing {
  display: flex;
  align-items: center;
}

.left .actual_playing img {
  height: 80px;
  padding: 9px;
}

.left .links {
  width: 17%;
  display: flex;
  justify-content: space-evenly;
}
  /* ends left player footer  */

  /* center player footer  */
.center .barra_down {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 40%;
}

.center .bar_song {
  position: relative;
  width: 80%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(56, 56, 56);
}

.player_keys i.fa-play-circle {
  font-size: 30px;
  margin: 10px;
  padding: 0;
  transition: transform 0.1s;
}

.player_keys i.fa-play-circle:hover {
  transform: scale(1.2)
}

.playing_seconds {
  margin-right: 20px;
  font-size: 12px;
  color: #ffffff;
 }

.playing_remaining {
  margin-left: 20px;
  font-size: 12px;
  color: #ffffff;
 }

.player_keys a i {
  font-size: 15px;
  padding: 10px;
}

.pointer_ball {
  height: 4px;
  background-color: #aaa;
  width: 20%;
  border-radius: 10px;
}

.pointer_ball:hover {
  background-color: lightgreen;
  cursor: pointer;
}

.pointer_ball:hover::after {
  display: block;
}

.pointer_ball::after {
  content: "";
  position: absolute;
  right: 80%;
  top: -3px;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: none;
}
  /* ends center player footer */

  /* right player footer  */
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.bar_dx_song {
  position: relative;
  width: 30%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(56, 56, 56);
}

.right a {
  padding: 10px;
}

.right a i {
  padding: 5px;
  color: white;
}
  /* ends right player footer  */
/* ends footer */

/* media queries */
@media (min-width: 576px) and (max-width: 767.98px){
  .sidebar .logo {
    height: 40px;
  }

  .small_logo {
    height: 50px;
    padding: 5px;
  }

  .menu_top > ul > li > a > img {
    height: 30px;
  }

  .container_main {
    width: calc(100% - 50px);
  }

  .wrapper .sidebar {
    width: 50px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .bottom_user .button_install {
    border-bottom: none;
  }

  .menu_top {
    flex-basis: 100%;
  }

  .button_flex {
    padding: 10px 12px;
    border-radius: 20px;
    height: 40px;
    margin-right: 30px;
    font-size: 10px;
  }

  .trasparent_top {
    width: calc(100% - 60px);
    height: 80px;
  }

  .sidebar .playlist {
    height: calc(100vh - 550px);
  }

}
