* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: calc(100vh - 90px);
  width: 100%;
}

.sidebar {
  width: 230px;
  background: black;
  height: calc(100vh - 90px);
  padding: 30px
}
.sidebar > .menu_top > ul > li > a > img {
  height: 20px;
}
.sidebar .logo {
  height: 100px;
}

.contenuto {
  background-color: blue;
}

.container_main {
  float: left;
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background: hsl(218.6, 25.9%, 10.6%);
  color: white;
  overflow: auto;

}

.button_flex {
  padding: 30px;
}

.content {
  margin-top: 100px;
}

.container_main .trasparente_top {
  height: 100px;
  background-color: #000000ab;
  position: fixed;
  top: 0;
  width: calc(100% - 230px);
  display: flex;
  justify-content: flex-end;

}
footer .nav_player {
  height: 90px;
}
footer {
  background: rgb(40, 40, 40);
  position: relative;
  z-index: 2;

}
